---
import Layout from '../layouts/Layout.astro';

const URL_CHAMPIONS = `https://ddragon.leagueoflegends.com/cdn/13.23.1/data/es_MX/champion.json`;

// https://ddragon.leagueoflegends.com/cdn/13.23.1/data/es_MX/champion/Zoe.json
const URL_API = `https://ddragon.leagueoflegends.com/cdn/13.23.1/data/es_MX/champion/`;

// https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg
// https://ddragon.leagueoflegends.com/cdn/img/champion/loading/Aatrox_0.jpg
const URL_SPLASH_LOADING = `https://ddragon.leagueoflegends.com/cdn/img/champion/`;

// https://ddragon.leagueoflegends.com/cdn/13.23.1/img/champion/Aatrox.png
// https://ddragon.leagueoflegends.com/cdn/13.23.1/img/passive/Anivia_P.png
// https://ddragon.leagueoflegends.com/cdn/13.23.1/img/spell/FlashFrost.png
const URL_IMG_CHAMPION_PASSIVE_SPELL = `https://ddragon.leagueoflegends.com/cdn/13.23.1/img/`;

const urlmapa =
  'https://ddragon.leagueoflegends.com/cdn/6.8.1/img/map/map1.png';
const arr = [1, 8, 9, 10, 11, 12];

const response = await fetch(URL_CHAMPIONS);
const { data } = await response.json();
console.log(data);
---

<Layout title="Leages of Legends">
  <div class="grid">
    {
      Object.keys(data).map((champion) => {
        const { id, name, title, image, tags } = data[champion];
        const { full, sprite } = image;

        return (
          <a href={`/info/${id}`}>
            <img
              src={`${URL_IMG_CHAMPION_PASSIVE_SPELL}champion/${id}.png`}
              alt=""
            />
            <p>{name}</p>
          </a>
        );
      })
    }
  </div>
</Layout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		grid-gap: 1rem;
		width: 80%;
		margin: 0 auto;
  }
  img {
    width: 100%;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
		text-decoration: none;
		color: white;
  }
</style>
